//button all
$btn-color: #0079ff;
$btn-remove: #F74646;
$btn-complete: #88e0d0;

//Light Mode Colors

$light-bg-cards: #f6f8ff;
$light-bg-main: #fefefe;
$light-headings: #2b3442;
$light-descriptions: #4b6a9b;
//optional
$light-hue-1: #f2ad73;
$light-hue-2: #ffa345;

//Dark Mode Colors
$dark-text: #ffff;
$dark-bg-main: #141d2f;
$dark-bg-card: #1e2a47;

//optional
$dark-hue-1: #bea6f7;
$dark-hue-2: #9070db;
